/* Global page styles */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;;
    background: #f0f4f5;
}

h1, h2 {
    text-align: center;
    color: 	#212b32;
    margin-top: 25px;  
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

h3 {
    color: #212b32;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Form styles */
form {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 40px;
    border-radius: 6px;
    border-color: #4c6272;
}

label {
    font-weight: bold;
    color: #4c6272;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid #d8dde0;
    border-radius: 4px;
}

/* Buttons */
.blue-button {
    width: 200px;
    display: block;
    background: #005eb8;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.blue-button:hover { 
    opacity: 0.6; 
}

.green-button {
    width: 200px;
    display: block;
    background: #007f3b;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.green-button:hover { 
    opacity: 0.6; 
}

.red-button {
    width: 200px;
    display: block;
    background: #d5281b;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.red-button:hover { 
    opacity: 0.6; 
}

/* Dashboard: Sidebar and Main Panel */
.page-container{
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #d8dde0;
    display: flex;
    flex-direction: column; 
    padding: 25px 18px;
}

.sidebar-header {
    margin-bottom: 30px;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
}

.sidebar-subtitle {
    font-size: 13px;
    opacity: 0.8;
    margin-top: 4px;
}

.sidebar-nav a {
    display: block;
    padding: 11px 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    background: #d8dde0;
    color: #212b32;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.sidebar-nav a:hover {
    background: #f0f4f5;
}

.sidebar-profile {
    margin-top: auto;
    margin-bottom: 12px;
}

.sidebar-profile .profile-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    padding: 0;
    padding-left: 0px;
}

.sidebar-profile .profile-link:hover {
    opacity: 0.5;
}

.sidebar-profile .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar-footer a {
    display: block;
    margin-top: auto;
    padding: 11px 12px;
    text-align: center;
    background: #d5281b;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sidebar-footer a:hover {
    opacity: 0.6;
}

.main-content {
    position: relative;
    flex: 1;
    padding: 35px;
}

.main-header {
    margin-bottom: 15px;
}

.main-header h2 {
    margin: 0;
    color: 	#005eb8;
}

.clock-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.big-clock {
    font-size: 40px;
    font-weight: 500;
    color: #aeb7bd;
}

.big-date {
    font-size: 45px;
    font-weight: bold;
    color: #aeb7bd;
    margin-bottom: 12px;
}

/* Tables */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #4c6272;
    padding: 8px;
}
th {
    background: #4c6272;
    color: white;
}

/* Messages */
.success-msg { 
    color: #007f3b; 
    font-weight: bold; 
}

.error-msg { 
    color: #d5281b; 
    font-weight: bold; 
}